In [2]:
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(29)

# 1


How likely is it that you roll doubles when rolling two dice?

In [3]:
n_trials = nrows = 100_000
n_dice = ncols = 2 

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
pd_rolls = pd.DataFrame(rolls)
pd_rolls

       0  1
0      6  4
1      5  6
2      3  1
3      1  2
4      2  1
...   .. ..
99995  3  5
99996  5  1
99997  5  6
99998  5  5
99999  6  5

[100000 rows x 2 columns]

In [4]:
pd_rolls = pd_rolls[0] == pd_rolls[1] 
pd_rolls

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998     True
99999    False
Length: 100000, dtype: bool

In [5]:
# Converting from a Boolean to an integer allows us to count and then get the mean
pair_rate = pd_rolls.astype(int)
pair_rate

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    1
99999    0
Length: 100000, dtype: int64

In [6]:
print(f'You will have a chance of %{round((pair_rate.mean() * 100), 2)} to roll dobles')

You will have a chance of %16.64 to roll dobles

# 2
If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [7]:
n_trials = nrows = 100_000
n_dice = ncols = 8
p_head = 0.50

heads_trial = np.random.random((nrows, ncols))
pd_heads_trial = pd.DataFrame(heads_trial)
pd_heads_trial.head()

,0,1,2,3,4,5,6,7
0,0.291731,0.490073,0.776087,0.510107,0.286953,0.659498,0.818157,0.238839
1,0.927236,0.477070,0.843578,0.319834,0.846242,0.819876,0.448110,0.127937
2,0.351815,0.841620,0.421174,0.403915,0.908495,0.983088,0.924901,0.001877
3,0.662964,0.822577,0.425721,0.122456,0.623451,0.006762,0.467920,0.399034
4,0.606522,0.428586,0.327234,0.664509,0.247006,0.066287,0.000294,0.407940

In [8]:
heads = pd_heads_trial < p_head
heads.head()

       0      1      2      3      4      5      6     7
0   True   True  False  False   True  False  False  True
1  False   True  False   True  False  False   True  True
2   True  False   True   True  False  False  False  True
3  False  False   True   True  False   True   True  True
4  False   True   True  False   True   True   True  True

In [9]:
((heads.sum(axis=1) >= 3).astype(int).sum())/100000

0.8575

In [10]:
# More pythonic way as above
((heads.sum(axis=1) >= 3).astype(int).mean()) * 100

85.75

# 3
There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
n_trials = nrows = 100_000
n_students = ncols = 2
p_ds_student = 0.25

billboards_trial = np.random.random((nrows, ncols))
pd_billboards_trial = pd.DataFrame(billboards_trial)
pd_billboards_trial.head()

          0         1
0  0.161797  0.259063
1  0.857899  0.923003
2  0.808766  0.864192
3  0.767680  0.851182
4  0.091315  0.678692

In [12]:
doble_ds_student = pd_billboards_trial < p_ds_student
doble_ds_student.head(10)

       0      1
0   True  False
1  False  False
2  False  False
3  False  False
4   True  False
5   True   True
6  False  False
7  False  False
8   True  False
9   True  False

In [13]:
#The .sum() uses boolean as 1 and 0 so if we have a True and True we get 2
(doble_ds_student.sum(axis=1) == 2)

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [14]:
# now that we have an array of booleans, we can calculate the mean of the array
print(f"The odds that the two billboards I drive past both have data science students on them is {(doble_ds_student.sum(axis=1) == 2).mean() * 100}%")

The odds that the two billboards I drive past both have data science students on them is 6.2%

# 4 
Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [15]:
# Create posible outcomes of poptarts consumed per day
n_trials = nrows = 100_000
n_days = ncols = 5

pop_tart_trial = np.random.normal(3, 1.5, n_trials * n_days)
pop_tart_trial = pop_tart_trial.astype(int)
pop_tart_trial = pd.DataFrame(pop_tart_trial.reshape(n_trials, n_days))
pop_tart_trial.head(3)

   0  1  2  3  4
0  2  5  2  3  2
1  1  1  2  3  3
2  3  3  6  6  1

In [16]:
poptar_chance = round((((pop_tart_trial.sum(axis=1) < 17).astype(int)).mean())*100)
f"The possibility that there are pop tarts after Friday afternoon is {poptar_chance}%"

'The possibility that there are pop tarts after Friday afternoon is 88%'

# 5
- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use `np.random.normal` to generate observations.
- If a man and woman are chosen at random, P(woman taller than man)?

In [17]:
# create a sample of 100,000 Males
n_trials = nrows = 100_000
male_height = ncols = 1

male_trial = np.random.normal(178, 8, n_trials * male_height)
male_trial = male_trial
male_trial

array([177.24357334, 165.53530953, 189.652218  , ..., 191.87674213,
       171.92408783, 176.33051025])

In [18]:
#Create a sample of 100,000 Females
n_trials = nrows = 100_000
female_height = ncols = 1

female_trial = np.random.normal(170, 6, n_trials * female_height)
female_trial = female_trial
female_trial

array([166.78893095, 167.38864595, 173.75822651, ..., 176.13774481,
       170.96885009, 175.83410598])

In [19]:
df_males_and_females = pd.DataFrame({"male_hights" : male_trial, "female_hights" : female_trial})
df_males_and_females.sample()

       male_hights  female_hights
15566    175.06718     176.382655

In [20]:
#- If a man and woman are chosen at random, P(woman taller than man)?
P_w_taller_than_m = (df_males_and_females['male_hights'] < df_males_and_females['female_hights']).mean()
f"The probability that a woman chosen at random is taller \
than a man is {round(P_w_taller_than_m*100, 1)}%"

'The provavility that a woman chosen at random is taller than a man is 21.2%'

# 6 
When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [21]:
n_trials = nrows = 100_000
n_students = ncols = 50
p_error = 1/250

install_trial = np.random.random((nrows, ncols))
install_trial.shape

(100000, 50)

In [22]:
 p_students50_1issue = (install_trial <= p_error)
 p_students50_1issue = pd.DataFrame(p_students50_1issue)
 p_students50_1issue.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
f"The odds of 50 students downloading Conda without issues is {round((p_students50_1issue.sum(axis=1) == 0).mean()*100)}%"

'The odds of 50 students downloading Conda without issues is 82%'

In [24]:
def anaconda_success_p_given_nstudents(x, p):
    n_trials = nrows = 100_000
    n_students = ncols = x
    p_error = p

    install_trial = np.random.random((nrows, ncols))
    p_students_1issue = (install_trial <= p_error)
    p_students_1issue = pd.DataFrame(p_students_1issue)
    print(f"The odds of {x} students downloading Conda without issues is {round((p_students_1issue.sum(axis=1) == 0).mean()*100)}%")
    print(f"The odds of {x} students downloading Conda with at least one issue is {round((p_students_1issue.sum(axis=1) > 0).mean()*100)}%")

In [25]:
# 50 Students to instal anaconda
print(anaconda_success_p_given_nstudents(50, 1/250))

The odds of 50 students downloading Conda without issues is 82%
The odds of 50 students downloading Conda wit atleast one issue is 18%
None

In [26]:
# 100 Studes to instal anaconda 
print(anaconda_success_p_given_nstudents(100, 1/250))

The odds of 100 students downloading Conda without issues is 67%
The odds of 100 students downloading Conda wit atleast one issue is 33%
None

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [27]:
print(anaconda_success_p_given_nstudents(150, 1/250))

The odds of 150 students downloading Conda without issues is 55%
The odds of 150 students downloading Conda wit atleast one issue is 45%
None

# 7

There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

In [28]:
def food_tuck_at_park (x, p):
    n_trials = nrows = 100_000
    n_days = ncols = x
    p_error = p

    food_truck_showup = np.random.random((nrows, ncols))
    food_truck_showup = (food_truck_showup <= p_error)
    food_truck_showup = pd.DataFrame(food_truck_showup)
    print(f"The odds of NOT seeing a food truck in Travis Park for {x} days is {round((food_truck_showup.sum(axis=1) == 0).mean()*100)}%")
    print(f"The odds of seeing a food truck in Travis Park for {x} days is  {round((food_truck_showup.sum(axis=1) > 0).mean()*100)}%")

print(food_tuck_at_park(1, .7))

The odds of NOT seeing a food truck in Travis Park for 1 days is 30%
The odds of seeing a food truck in Travis Park for 1 days is  70%
None

In [29]:
for _ in range(1,8):
    food_tuck_at_park(_, .7)
    print()

The odds of NOT seeing a food truck in Travis Park for 1 days is 30%
The odds of seeing a food truck in Travis Park for 1 days is  70%

The odds of NOT seeing a food truck in Travis Park for 2 days is 9%
The odds of seeing a food truck in Travis Park for 2 days is  91%

The odds of NOT seeing a food truck in Travis Park for 3 days is 3%
The odds of seeing a food truck in Travis Park for 3 days is  97%

The odds of NOT seeing a food truck in Travis Park for 4 days is 1%
The odds of seeing a food truck in Travis Park for 4 days is  99%

The odds of NOT seeing a food truck in Travis Park for 5 days is 0%
The odds of seeing a food truck in Travis Park for 5 days is  100%

The odds of NOT seeing a food truck in Travis Park for 6 days is 0%
The odds of seeing a food truck in Travis Park for 6 days is  100%

The odds of NOT seeing a food truck in Travis Park for 7 days is 0%
The odds of seeing a food truck in Travis Park for 7 days is  100%

# 8

If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [30]:
def same_bday (x):
    n_trials = nrows = 100_000
    n_people_in_room = ncols = x
    p_of_bday = 1/365

    people_in_room_trials = np.random.random((nrows, ncols))
    people_in_room_trials = (people_in_room_trials == p_of_bday)
    people_in_room_trials = pd.DataFrame(people_in_room_trials)
    print(f"The odds of NOT seeing a food truck in Travis Park for {x} days is {round((people_in_room_trials.sum(axis=1) == 0).mean()*100)}%")
    print(f"The odds of seeing a food truck in Travis Park for {x} days is  {round((people_in_room_trials.sum(axis=1) > 0).mean()*100)}%")

print(same_bday(23))

The odds of NOT seeing a food truck in Travis Park for 23 days is 100%
The odds of seeing a food truck in Travis Park for 23 days is  0%
None

In [31]:

def same_bday_in_the_room(x):
    n_trials = nrows = 100_000
    n_people_in_room = ncols = x

    people_in_room_bdays = np.random.randint(1, 366, size =(nrows,ncols))
    people_in_room_bdays = pd.DataFrame(people_in_room_bdays)
    people_in_room_bdays['same_bday'] = people_in_room_bdays.nunique(axis=1) < n_people_in_room
    

    return f"The odds of two people having the same birthday in a room of {x} people is {(people_in_room_bdays['same_bday'].mean() * 100)}%"

print(same_bday_in_the_room(23))
print(same_bday_in_the_room(20))
print(same_bday_in_the_room(40))

The odds of two people having the same birthday in a room of 23 people is 50.681%
The odds of two people having the same birthday in a room of 20 people is 40.946%
The odds of two people having the same birthday in a room of 40 people is 89.05%

In [33]:
# not an aswer
# work in progress before plugin into function
np.random.randint(1, 366, size =(nrows,ncols)).shape

(100000, 50)