In [66]:
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(29)

# 1


How likely is it that you roll doubles when rolling two dice?

In [67]:
n_trials = nrows = 100_000
n_dice = ncols = 2 

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
pd_rolls = pd.DataFrame(rolls)
pd_rolls

       0  1
0      6  4
1      5  6
2      3  1
3      1  2
4      2  1
...   .. ..
99995  3  5
99996  5  1
99997  5  6
99998  5  5
99999  6  5

[100000 rows x 2 columns]

In [68]:
pd_rolls = pd_rolls[0] == pd_rolls[1] 
pd_rolls

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998     True
99999    False
Length: 100000, dtype: bool

In [69]:
# Converting from a Boolean to an integer allows us to count and then get the mean
pair_rate = pd_rolls.astype(int)
pair_rate

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    1
99999    0
Length: 100000, dtype: int64

In [80]:
print(f'You will have a chance of %{round((pair_rate.mean() * 100), 2)} to roll dobles')

You will have a chance of %16.64 to roll dobles

# 2
If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [83]:
n_trials = nrows = 100_000
n_dice = ncols = 8
p_head = 0.50

heads_trial = np.random.random((nrows, ncols))
pd_heads_trial = pd.DataFrame(heads_trial)
pd_heads_trial.head()

,0,1,2,3,4,5,6,7
0,0.780108,0.980002,0.163640,0.479863,0.971084,0.599335,0.039556,0.865545
1,0.523131,0.140565,0.517631,0.282151,0.435885,0.627998,0.005234,0.700056
2,0.138796,0.959030,0.943057,0.020637,0.240986,0.737103,0.740693,0.746610
3,0.070465,0.406846,0.139429,0.003356,0.581093,0.830506,0.548306,0.879306
4,0.000849,0.257222,0.002421,0.161817,0.204154,0.192536,0.908273,0.680847

In [86]:
heads = pd_heads_trial < p_head
heads.head()

       0      1      2     3      4      5      6      7
0  False  False   True  True  False  False   True  False
1  False   True  False  True   True  False   True  False
2   True  False  False  True   True  False  False  False
3   True   True   True  True  False  False  False  False
4   True   True   True  True   True   True  False  False

In [115]:
((heads.sum(axis=1) >= 3).astype(int).sum())/100000

0.85511

In [122]:
# More pythonic way as above
((heads.sum(axis=1) >= 3).astype(int).mean()) * 100

85.51100000000001

# 3
There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [123]:
.25**2

0.0625

# 4 
Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

# 5
- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to - generate observations.

# 6 
When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

# 7

There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

# 8

If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?